<div>
  <h2 id="page-heading" data-cy="BeerBottleHeading">
    <span jhiTranslate="tunchApp.beerBottle.home.title">Beer Bottles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="tunchApp.beerBottle.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-beer-bottle"
        [routerLink]="['/beer-bottle/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="tunchApp.beerBottle.home.createLabel"> Create a new Beer Bottle </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="beerBottles?.length === 0">
    <span jhiTranslate="tunchApp.beerBottle.home.notFound">No Beer Bottles found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="beerBottles && beerBottles.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="tunchApp.beerBottle.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="expirationDate">
            <div class="d-flex">
              <span jhiTranslate="tunchApp.beerBottle.expirationDate">Expiration Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="beer.id">
            <div class="d-flex">
              <span jhiTranslate="tunchApp.beerBottle.beer">Beer</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fridge.id">
            <div class="d-flex">
              <span jhiTranslate="tunchApp.beerBottle.fridge">Fridge</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let beerBottle of beerBottles; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/beer-bottle', beerBottle.id, 'view']">{{ beerBottle.id }}</a>
          </td>
          <td>{{ beerBottle.expirationDate | formatMediumDate }}</td>
          <td>
            <div *ngIf="beerBottle.beer">
              <a [routerLink]="['/beer', beerBottle.beer.id, 'view']">{{ beerBottle.beer.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="beerBottle.fridge">
              <a [routerLink]="['/fridge', beerBottle.fridge.id, 'view']">{{ beerBottle.fridge.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/beer-bottle', beerBottle.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/beer-bottle', beerBottle.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(beerBottle)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="beerBottles && beerBottles.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
